$fix_width: 980px;
$width_content: 564px;
$color_theme: rgb(19, 62, 141);
$color_theme_opacity: rgb(38, 106, 231);
$color_background: whitesmoke;
$color_note: dimgray;
$color_btn: #38aef0;
$color_link: #337ab7;
$color_focus: rgb(38, 106, 231);
$color_notice: cornflowerblue;
$color_alert: darkorange;
$color_actioned: crimson;
$font_size_h1: 24px;
$font_size_h2: 22px;
$font_size_h3: 20px;
$font_size_h4: 18px;
$font_size_defalt: 16px;
$font_size_icon: 22px;
$font_size_content: 18px;
$font_size_content_detail: 24px;
$font_size_note: 12px;
$font_size_note_detail: 18px;
$border_style_default: solid 1px gray;
$border_style_input: 1px solid #ddd;
$border_style_focus: solid 1px $color_focus;
$shadow_content: 0 0 4px lightgray;
$shadow_menu: 1px 2px 5px rgba(0,0,0,0.1);
$shadow_focus: 0 0 3px $color_focus;