$fix_width: 980px;
$color_theme: rgb(19, 62, 141);
$color_background: whitesmoke;
$color_note: dimgray;
$color_btn: #38aef0;
$font_size_h1: 24px;
$font_size_h2: 22px;
$font_size_icon: 22px;
$font_size_h3: 20px;
$font_size_h4: 18px;
$font_size_content: 18px;
$font_size_defalt: 16px;
$font_size_note: 12px;
$border_style_default: solid 1px gray;
$shadow_content: 0 0 4px lightgray;
$shadow_menu: 1px 2px 5px rgba(0,0,0,0.1);