<footer class="footer">
  <div class="footer__bar">
    <h4 class="footer__bar__icon">
      <span>転クエ掲示板</span>
    </h4>
    <div class="footer__bar__copylight">
      <span>©︎2020 転職クエスト All Rights Reserved.</span>
    </div>
  </div>
</footer>