<div class="post_wrapper">
  <div class="post_wrapper__content">
    <div class="post_wrapper__content__post_form">
      <h3>
        <span>投稿編集</span>
      </h3>
      <%# フォームを設置 %>
    </div>
  </div>
</div>