<div class="breadcrumbs">
  <div class="home_icon">
    <i class="fas fa-home"></i>
  </div>
  <div>
    <% breadcrumb breadcrumb, model %>
    <%= breadcrumbs separator: "&nbsp;&rsaquo;&nbsp;"%>
  </div>
</div>
