<header class="header">
  <div class="header__bar">
    <h1>
      <%# ルートパスへのリンクを設置 %>
      <span>転クエ掲示板</span>
    </h1>
    <%# ログイン状態に応じて表記を変更すること %>
    <ul class="header__bar__user_nav">
      <li class="user_name">
        <span>ユーザー名 さん</span>
      </li>
      <li class="header__bar__user_nav__btn">
        ログアウト
      </li>
      <li class="header__bar__user_nav__btn">
        投稿する
      </li>
    </ul>
    <ul class="header__bar__user_nav">
      <li class="header__bar__user_nav__btn">
        ゲストログイン
      </li>
      <li class="header__bar__user_nav__btn">
        ログイン
      </li>
      <li class="header__bar__user_nav__btn">
        新規登録
      </li>
    </ul>
  </div>
</header>