<%# フラッシュメッセージのテンプレートファイル %>
<div class="notifications">
  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% elsif flash[:alert] %>
    <div class="alert"><%= flash[:alert] %></div>
  <% end %>
</div>
