<div class="form_area">
  <div class="form_area__field">
    <%= form.text_area :text, placeholder: "投稿内容を入力", rows: "10" %>
  </div>
  <div class="form_area__hidden_field">
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>
  <div class="form_area__action">
    <%= form.submit "投稿", class: "form_area__action__btn"%>
  </div>
</div>
