<div class="post_wrapper">
  <div class="post_wrapper__header">
    <h3>
      <span>投稿一覧</span>
    </h3>
  </div>
  <div class="post_wrapper__content">
    <ul class="post_wrapper__content__post_list">
      <% if @posts.length == 0 %>
        <h3>まだ投稿されたスレッドはありません。</h3>
      <% else %>
        <% @posts.each do |post| %>
          <li>
            <div class="post">
              <div class="post__top_box">
                <div class="post__top_box__name">
                  <span>投稿者：<%= post.user.name %></span>
                </div>
                <div class="post__top_box__time">
                  <span>投稿日時：<%= post.updated_at %></span>
                </div>
              </div>
              <div class="post__middle_box">
                <span><%= post.content %></span>
              </div>
              <div class="post__bottom_box">
                <ul class="post__bottom_box__user_actions">
                  <li>
                    <i class="far fa-comment-alt"></i>
                    <span>コメント数</span>
                  </li>
                  <li>
                    <i class="far fa-heart"></i>
                    <span>いいね数</span>
                  </li>
                </ul>
                <ul class="post__bottom_box__admin_actions">
                  <li>編集</li>
                  <li>削除</li>
                </ul>
              </div>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>