<div class="post_wrapper">
  <div class="post_wrapper__header">
    <h3>
      <span>投稿詳細</span>
    </h3>
    <div class="back_link">
      <i class="fas fa-angle-double-left"></i>
      <span>一覧へ戻る</span>
    </div>
  </div>
  <div class="post_wrapper__content scroll">
    <div class="post_wrapper__content__post_show">
      <div class="post_detail">
        <div class="post_detail__top_box">
          <div class="post_detail__top_box__name">
            <span>投稿者：投稿者名</span>
          </div>
          <div class="post_detail__top_box__name">
            <span>投稿日時：投稿日時</span>
          </div>
        </div>  
        <div class="post_detail__middle_box">
          <span>投稿内容</span>
        </div>
        <div class="post_detail__bottom_box">
          <ul class="post_detail__bottom_box__user_actions">
            <li>
              <i class="far fa-comment-alt"></i>
              <span>コメント数</span>
            </li>
            <li>
              <i class="far fa-heart"></i>
              <span>いいね数</span>
            </li>
          </ul>
          <div class="post_detail__bottom_box__admin_actions">
            編集
            削除
          </div>
        </div>
      </div>
    </div>
    <div class="comment_area">
      <ul class="comment_area__list">
      <%# コメントがある場合は、全てのコメントが表示されていること %>
        <li class="comment_area__list__comment">
          <div class="comment_area__list__comment__left_box">
            <span>コメント投稿者</span>
          </div>
          <div class="comment_area__list__comment__right_box">
            <div class="comment_area__list__comment__right_box__info">
              <span>編集</span>
              <span>削除</span>
              <span>投稿日時：投稿日時</span>
            </div>
            <div class="comment_area__list__comment__right_box__text">
              <span>コメント内容</span>
            </div>
          </div>
        </li>
      </ul>
      <div class="comment_area__form_box">
        <%# コメントのフォームを設置 %>
      </div>
    </div>
  </div>
</div>